.button {
    height: 70px;
    width: 100%;
    line-height: 70px;
}

.text {
    float: left;
    padding-left: 28px;
    color: #ffffff;
    font-weight: 300;
}

.image{
    float: right;
    padding-right: 20px;
}