<div class = "border">
  <table width = "100%">
    <thead class="head">
       <tr>
          <td class="headtext" colspan = "5">Minhas Faturas</td>
       </tr>
    </thead>
    
    <tbody>
       <tr class="titles">
          <td class="padded">Fornecedor</td>
          <td class="center">Data Fatura</td>
          <td class="center">Data Vencimento</td>
          <td class="center">Valor</td>
          <td class="center">Estado</td>
       </tr>
       <tr *ngFor= "let fatura of faturas" class= "line">
        <td class="padded">{{ fatura.fornecedor }}</td>
        <td class="center">{{ fatura.dataFatura }}</td>
        <td class="center">{{ fatura.dataVencimento }}</td>
        <td class="center">{{ fatura.valor }}$</td>
        <td class="state">{{ fatura.estado }}</td>
       </tr>
    </tbody>
  </table>
</div>