<div class = "border">
<table width = "100%" matSort (matSortChange)="sortData($event)">
  <thead class="head">
     <tr>
        <td class="headtext" colspan = "4">Faturas Pendentes</td>
     </tr>
  </thead>
  
  <tbody>
     <tr class="titles">
        <td mat-sort-header="fornecedor">Fornecedor</td>
        <td mat-sort-header="dataFatura" class="center">Data Fatura</td>
        <td mat-sort-header="dataVencimento" class="center">Data Vencimento</td>
        <td mat-sort-header="valor" class="center">Valor</td>
     </tr>
     <tr *ngFor= "let fatura of faturas" class= "line">
      <td class="padded">{{ fatura.fornecedor }}</td>
      <td class="center">{{ fatura.dataFatura | date:'dd-MM-yyyy' }}</td>
      <td class="center">{{ fatura.dataVencimento | date:'dd-MM-yyyy' }}</td>
      <td class="center">{{ fatura.valor }}$</td>
     </tr>
  </tbody>
</table>
</div>
<div class="paging">
   <button mat-stroked-button (click)="prevPage($event)">Anterior</button>
   <span class="page-text">Página: {{ page }}</span>
   <button mat-stroked-button (click)="nextPage($event)">Seguinte</button>  
</div>