.button {
    height: 70px;
    width: 100%;
    line-height: 70px;
    background: #177c68
}

.text {
    padding-left: 10px;
    color: #ffffff;
    font-weight: 300;
    float:left;
}

.image{
    float: left;
    padding-left: 28px;
}

.right-image {
    float: right;
}